name: Changes
on:
  workflow_call:
    outputs:
      workflows:
        value: ${{ jobs.changed.outputs.workflows }}
      data_files:
        value: ${{ jobs.changed.outputs.data_files }}
      assets:
        value: ${{ jobs.changed.outputs.assets }}
      documentation:
        value: ${{ jobs.changed.outputs.documentation }}

jobs:
  changed:
    name: Changed
    runs-on: ubuntu-latest
    outputs:
      workflows: ${{ steps.filter.outputs.workflows }}
      data_files: ${{ steps.filter.outputs.data_files }}
      assets: ${{ steps.filter.outputs.assets }}
      documentation: ${{ steps.filter.outputs.documentation }}

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 2
        show-progress: false
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: .github/path-filters.yml
        token: ${{ github.token }}
